.heading{
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

.bodyText{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

.header{
    border-bottom: 1px solid #cccccc;
    height: 63px;
    margin-bottom: 25px;
    background-color: #FFFFFF;
}

body{
    background-image: url(../images/spikes.png);
    margin: 0;
    background-repeat: repeat;
    background-size: auto;
}

.footer{
    border-top: 8px solid #4aaaa5;
}

#titleName{
    float: left;
    text-align: center;
    background-color: #4aaaa5;
    width: 160px;
    padding: 1px 5px 1px 5px;
}

#headerBlock{
    width: 960px;
    margin: 0 auto;
}

#titleText{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
}

#navBar{
    float: right;
    margin: 21px 0px 21px 0px;
    
}

.navItem{
    display: inline;
    margin: 5px 5px 5px 5px;
    font-size: 12px;
}

#centerItem{
    border-right: 1px solid rgba(119, 119, 119, 0.5);
    border-left: 1px solid rgba(119, 119, 119, 0.5);
    padding: 5px 10px 5px 10px;
}

.mainContainer{
    min-height: 500px;
    width: 960px;
    margin: 0 auto;
    background-color: #FFFFFF;
    border: 1px solid #dddddd;
    margin-bottom: 100px;
}

#containerHeader{
    color: #4aaaa5;
    font-size: 24px;
    font-weight: bold;
    margin: 20px 5% 20px 5%;
}

#aboutImg{
    margin: 25px 20px 0px 5%;
    width: 25%;
    float: left;
}

.portfolioTile{
    width: 50%;
    padding-bottom: 20px;
}

#dividerLine{
    width: 90%;
    height: 1px;
    background-color: #dddddd;
    margin-left: 5%;
}

#containerText{
    margin: 0 5% 0 5%;
    font-size: 14px;
    line-height: 1.75;
}

#contactMessage{
    height: 150px;
    margin-bottom: 20px;
}

.contactText{
    margin: 10px 0px 0px 0px;
}

.contactField{
    width: 100%;
}

#contactSubmit{
    background-color: #4aaaa5;
    width: 115px;
    height: 40px;
    color: #FFFFFF;
    font-size: 14px;
    margin-bottom: 25px;
}

.tileContainer{
    position: relative;
}

.tileTitle{
    position: absolute;
    text-align: center;
    font-size: 19px;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    margin: 0 auto;
    width: 50%;
    height: 30px;
    background-color: #4aaaa5;
    left: 25%;
    top: 55%;
    padding-top: 10px;
    color: #FFF;
}

#portfolioTiles{
    
        width: 75%;
        margin: 0 auto;
    
}

.tileLink{

}

/* Attempting to vertically align placeholder text to the top of the page */
/* input::-webkit-input-placeholder {
    transform:translate3d(0,-4px,0)
  } */

#footer{
    width: 100%;
    background-color: #666666;

}

#footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:50px;
    width:100%;
    background:#666666;
    border-top: 3px solid #4aaaa5;
 }
 
 /* IE 6 */
 * html #footer {
    position:absolute;
    top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
 }

 #footerText{
     text-align: center;
     font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
     margin-top: 35px;
     color: #FFFFFF;
     font-size: 10px;
 }